.ex3 {
    background-color: lightblue;
    height: 40px;
    width: 200px;  
    overflow-y: auto;
  }
.row{
    display: flex;
}
.fst_crd{
    border-radius: 10px 5px 5px 10px !important;
}
.lst_crd{
  border-radius: 5px 10px 10px 5px !important;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1; 
}
/* .pos{
    position: sticky;
  top: 0;
  left: 0;
  z-index: 1;  
} */
hr{
    color: black;
    background-color:black;
}
.l1{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  padding: none;
  margin: none; 
  
}
#div1,#div2{
    display: inline;
}
#data1,#data2{
    /* display: inline-flex;
    vertical-align: middle; */
    display: flex;
    align-items: center;
}
.icon-container {
    margin-top: 4px;
    display: flex;
    align-items: center; /* optional - to center icons vertically */
    background-color: #d8d8defc ;
    border-radius: 4px 4px 0px 0px;
  }
  .icon-container mat-icon {
    
    display: inline-block;
    margin-right: 2px; /* optional - to add space between icons */
  }
/* .scroll{
position:relative;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent; 
} */
.col{
    flex: 1;
    padding: 1em;
    margin: 4px;
    border: solid 1px;    
    background-color:white;
    box-shadow: 0px 0px 10px 0px #c3bcbc,
    0 1px 1px 0 #9f9999,
    0 1px 3px 0 #a8a0a0;
    height: 500px;
}
.head{    
    text-align: center;
    /* background-color: #ebebf3fc ; */
    background-color:#ebebf3a8;
    border-radius: 0px 0px 0px 0px;
    border: none;
    margin: none;
    min-height: 85px;
}
.col1{
    background-color: darkgray; 
    background-color:white;
    box-shadow: 0px 0px 10px 0px #aeabab,
    0 1px 1px 0 #9f9999,
    0 1px 3px 0 #a8a0a0;
}
.col:hover{
    transform: scale(1.03); 
}
.code_color{
    color:white;
    background-color: rgb(21, 20, 20);
}
mat-tab{
    min-height: 3300px;
}
/* .col-md-2{
    width:20%;
    min-height: 550px;
    margin-right: 12px;
    border-radius: 8px 8px 0px 0px;
    background-color: darkgray;
} */
.model{
    float: right;
    margin-bottom: 5px;
}
.row{
    margin-top: 2%;
}

.filter{
    width: 85%;
    /* background-color:#ebebf3fc  ;    */
    background-color:#ebebf3ba;
    border-radius: 9px;
    border: solid 1px;
    height: 36px;
    margin-right: 2px;
}
.filter.filled{
    border: none;
}
/* .filter::placeholder{
    padding-bottom: 13px;
    margin-bottom: 13px;
} */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 98%;
  }
  input,textarea{
    padding-top: 14px;
  }


  h1{
    text-align: center;
    margin-top: 5%;
}
.logo{
    margin-left: 43%;
    margin-top: 5%;
}
.row{
    margin-top: 2%;
}
/* .card{
   min-height: 150px;
    box-shadow: 0px 0px 10px 0px #aeabab,
    0 1px 1px 0 #9f9999,
    0 1px 3px 0 #a8a0a0;
}  */

.popup{
    align-content: center;
    margin-top: 5px;
}
.jars{
    text-align: center;
    background-color: #ebebf3fc ;
    margin-top: 5%;
}
.jars:hover{
    transform: scale(1.06); 
}
.dropdown{
    margin-left: 4px;
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
}
.download_icon{
    margin-left: 87%;
}


/* .close
{
  z-index:10;
  margin-left:-3rem;
  margin-right:1rem;
} */