
mat-toolbar{ 
    background-color: rgb(21, 21, 145);
    height: 45px;
}
.logo{ 
    width:100px;
}
.title{
    width: 100px;
    margin-top: 2px;
    margin-left: 2px;
    height: 28px;
}
span{
    color: aliceblue;
}
.example-spacer{
    margin-left: 60%;
}
.example-spacer1{
    margin-left: 4%;
}
.pipe{
    color: aliceblue;
    margin-left: 3px;
    font-size: 27px;
    
    margin-bottom: 5px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
