<div>
    <mat-toolbar >
        <!-- <img src='/assets/JARVIS_Logo1.png' alt='logo' class="logo"> -->
        <!-- <img src='/assets/JARVIS_Logo(J).png' alt='logo' class="logo"> -->
        <!-- <span class="pipe">|</span> -->
        <!-- <img src='/assets/JARVIS_LOGO_cleanup (1).png' alt='logo' class="title"> -->
        <img src="assets\JARVIS(new).png" alt="logo" class="logo" routerLink="/">

        <a class="example-spacer" routerLink="jars">Jars</a>
        <!-- <a class="example-spacer1" routerLink="model">Models</a>
        <a class="example-spacer1" routerLink="datasets">Datasets</a> -->
        <a class="example-spacer1" routerLink="docs">Docs</a>
        <a class="example-spacer1" routerLink="#">Contact Us</a>
        <mat-icon class="example-spacer2" style="color: aliceblue;">account_circle</mat-icon>
        
    </mat-toolbar>
</div>


