
<div class="container">
    <h1>OpenPose</h1><br>
    <p>OpenPose represents the first real-time multi-person system to jointly detect human body,hand, and facial key points(in total 130 keypoints) on single images</p>

    <div>
        <h1>Features</h1>
        <li>Functionality:</li>
            <ol><li>2D real-time multi-person keypoint detection:</li></ol>
            <li>15 or 18 or 25-keypoint body/foot keypoint estimation. Running time invariant to number of detected people.</li>
            <li>2x21-keypoint hand keypoint estimation. Currently, running time depends on number of detected people.</li>
            <li>70-keypoint face keypoint estimation. Currently, running time depends on number of detected people.</li>
           <ol> 3D real-time multi-person keypoint detection:</ol>
            <li>3-D triangulation from multiple single views.</li>
            <li> Synchronization of Flir cameras handled.</li>
            <li> Compatible with Flir/Point Grey cameras, but provided C++ demos to add your custom input.</li>
            <ol>Calibration toolbox:</ol>
            Easy estimation of distortion, intrinsic, and extrinsic camera parameters.
            <li>Input:</li> Image, video, webcam, Flir/Point Grey and IP camera. Included C++ demos to add your custom input.
            Output: Basic image + keypoint display/saving (PNG, JPG, AVI, ...), keypoint saving (JSON, XML, YML, ...), and/or keypoints as array class.
            OS: Ubuntu (14, 16), Windows (8, 10), Mac OSX, Nvidia TX2.
            Others:
            Available: command-line demo, C++ wrapper, and C++ API.
            CUDA (Nvidia GPU) and CPU versions.
        
    </div>
    <div>
        <h1>Latest Features</h1>
        <li>Jun 2018: Combined body-foot model released! Faster and more accurate.!</li>
        <li>Jun 2018: Python version released!
        </li>
        <li>Jun 2018: AMD graphic card version released!</li>
        <li>Jun 2018: Calibration toolbox released!</li>
        <li>Jun 2018: Mac OSX version (CPU) released!</li>
        <li>Mar 2018: CPU version!</li>
        <li>Mar 2018: 3-D keypoint reconstruction module (from multiple camera views)!</li>
        <li>Sep 2017: CMake installer and IP camera support!</li>
        <li>Jul 2017: Windows portable binaries and demo!</li>
        <li>Jul 2017: Hands released!</li>
        <li>Jun 2017: Face released!</li>
    </div>
</div>