.row{
    min-height: 50%;
 }
 /* .size{
     margin: 3%;
     height: 60%;
     
     box-shadow: 0px 0px 10px 0px #aeabab,
     0 1px 1px 0 #9f9999,
     0 1px 3px 0 #a8a0a0;
   } */
   .header{
     margin-top: 0%;
     font-weight: bold;
     margin-bottom: none;
     margin-left: 4%;
   }
   .count{
     margin-left: 6px;
     margin-right: 4%;
   }
   .input{
     width: 680px;
     height: 35px;
   }
   /* input{
     width:680px;
     height: 35px;
   } */
   .size{
     margin-bottom: 2%;
   }
   a{
     margin: 8%;
     text-align: center;
     font-size:27px;
     font-weight: bold;
   }
   p{
     margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 8%;
   }
   mat-card{
     margin-top: 18%;
     
     height: 100% !important;
     box-shadow: 0px 0px 10px 0px #aeabab,
     0 1px 1px 0 #9f9999,
     0 1px 3px 0 #a8a0a0;
   }
   mat-card:hover{
     transform: scale(1.1);
   }

   .dropdown {
    position: relative;
    display: inline-block;
   
  }
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #fdfbfb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: rgb(251, 247, 247);}
  
  .dropdown:hover .dropdown-content {display:block;position: block;}

  .frameworks{
    margin-left: 2%;
  }