/* h1{
    text-align: center;
    margin-top: 5%;
}
.logo{
    margin-left: 43%;
    margin-top: 5%;
}
.row{
    margin-top: 2%;
}
.card{
   min-height: 90px;
    box-shadow: 0px 0px 10px 0px #aeabab,
    0 1px 1px 0 #9f9999,
    0 1px 3px 0 #a8a0a0;
} 
.col{
    background-color: darkgray; 
    width: 170px;  
    overflow-y: auto;

}

.col-md-2{
    min-width: 17%;
    height: 400px;
    margin-right: 12px;
    border-radius: 8px 8px 0px 0px;
    background-color: darkgray;
}
.row{
    margin-top: 2%;
}
.head{
    text-align: center;
    background-color: rgb(250, 251, 252);
    margin-top: 5%;
   
}
.size{
    min-height: 20%;
}
.filter{
    width: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  input{
    padding-top: 14px;
  } */


  /* app.component.css */

  .mat-grid-tile {
    overflow: auto;
  }
  
  .mat-card-header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  